﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterForHome.master" AutoEventWireup="true" CodeFile="Chosen.aspx.cs" Inherits="Chosen" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

   

    <script type="text/javascript">
        $('#<%=DropDownList1.ClientID%>').chosen();
    </script>



    <asp:DropDownList ID="DropDownList1" runat="server">
        <asp:ListItem Value="value">  
      kunal 
        </asp:ListItem>
          <asp:ListItem Value="value">  
      sanjeet 
        </asp:ListItem>
          <asp:ListItem Value="value" >  
      satya 
        </asp:ListItem>
          <asp:ListItem Value="value">  
      surya
        </asp:ListItem>
          <asp:ListItem Value="value" Selected="True|False">  
      ramcharan
        </asp:ListItem>
    </asp:DropDownList>



</asp:Content>

