﻿<%@ Page Title= Language=VB MasterPageFile=~/MasterAfterLogin.master AutoEventWireup=false CodeFile=Default3.aspx.vb Inherits=Default3 %>

<asp:Content ID=Content1 ContentPlaceHolderID=ContentPlaceHolder1 runat=Server>

    <div Class='datatable-container'>"
            <Table Class='datatable'>"
            <thead class='pass-head hidden'>"
            <tr>"

            <th></th>"
            <th>Passenger Name</th>"

            <th>Date of Birth</th>"

            </tr>"
            </thead>"
            <tbody>"
           

                <tr>"



              
                        <td style='width: 5%;'><i class='icofont-businesswoman icofont-2x'></i></td>"
                    Else
                        <td style='width: 5%;'><i class='icofont-business-man-alt-1 icofont-2x'></i></td>"
                    End If

                ElseIf dr("PaxType").ToString() = "CHD" Then
                    If dr("title").ToString().ToLower().Contains("s") = True And dr("title").ToString().ToLower() <> "mstr" Then
                        <td style='width: 5%;'><i class='icofont-girl-alt icofont-2x'></i></td>"
                    Else
                        <td style='width: 5%;'><i class='icofont-boy icofont-2x'></i></td>"
                    End If

                Else
                    If dr("title").ToString().ToLower().Contains("s") = True And dr("title").ToString().ToLower() <> "mstr" Then
                        <td style='width: 5%;'><i class='icofont-baby icofont-2x'></i></td>"
                    Else
                        <td style='width: 5%;'><i class='icofont-baby icofont-2x'></i></td>"
                    End If

                End If
                <td style='width: 79%;'>" & dr("Name").ToString() & "</td>"
               
                    <td> " & strDate & "</td>"
           
                    <td>NA</td>"
         

                </tr>"





            </tbody>"
            </table>"

            </div>"
  
</asp:Content>

