﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage_Test.master" AutoEventWireup="false" EnableEventValidation="false" CodeFile="Login.aspx.vb" Inherits="Login" %>
<%@ Register Src="~/UserControl/LoginControl.ascx" TagPrefix="UC1" TagName="Login" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <UC1:Login ID="uc2" runat="server" />

</asp:Content>
