﻿<%@ Master Language="VB" CodeFile="MasterPage_Test.master.vb" Inherits="MasterPage_Test" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Tripmaza</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Advance_CSS/css/bootstrap.css" />
    <link rel="stylesheet" href="Advance_CSS/css/styles.css" />
    <link href="icofont/icofont.css" rel="stylesheet" />
    <link href="icofont/icofont.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

    <style>

        .btn-login {
    color: rgba(12,18,28,.6) !important;
    background-color: #ffffff;
    border-color: #a9a9a9;
    font-weight: bold;
}

        .btn-register {
    color: rgba(12,18,28,.6) !important;
    background-color: #e0e2e6;
    border-color: #e0e2e6;
    font-weight: bold;
}


             .btn-login:hover {
    color: #fff !important;
    background-color: #e46718;
    border-color: #e46718;
    font-weight: bold;
}

        .btn-register:hover {
    color: #fff !important;
    background-color: #e46718;
    border-color: #e46718;
    font-weight: bold;
}


        ::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        ::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        ::-webkit-scrollbar-thumb {
            background: #959595;
            border: 0px none #ffffff;
            border-radius: 0px;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #525965;
            }

            ::-webkit-scrollbar-thumb:active {
                background: #525965;
            }

        ::-webkit-scrollbar-track {
            background: transparent;
            border: 0px none #ffffff;
            border-radius: 50px;
        }

            ::-webkit-scrollbar-track:hover {
                background: transparent;
            }

            ::-webkit-scrollbar-track:active {
                background: transparent;
            }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <nav class="navbar navbar-default navbar-inverse navbar-theme navbar-theme-abs navbar-theme-transparent navbar-theme-border" id="main-nav">
            <div class="container">
                <div class="navbar-inner nav">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button" area-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="search.aspx">
                            <img src="Advance_CSS/Icons/logo(ft).png" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-main">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="about-us.html" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOME</a>
                            </li>
                            <li>
                                <a href="contact-us.aspx">CONTACT US</a>
                            </li>

                            <li>
                                <a href="contact-us.aspx">PARTNER SOLUTIONS</a>
                            </li>

                            <li>
                                <a href="contact-us.aspx">OFFERS</a>
                            </li>

                            <li>
                                <a href="contact-us.aspx">KNOWLEDGE BASE</a>
                            </li>

                            <li>
                                <a href="contact-us.aspx">BLOG</a>
                            </li>
                        </ul>



                        <ul class="nav navbar-nav navbar-right" style="margin-top: 8px;">

                         <li style="margin-right: 17px;">
                <button type="button" class="btn btn-login" data-toggle="modal" data-target="#login-pop" style="padding: 7px 10px;border-radius:25px;">
                  Log In
                </button>
                
              </li>

              <li class="">
                <a class="btn btn-register" href="../regs_new.aspx" style="padding: 7px 10px;border-radius:25px;">
                  Sign Up
                </a>
             
              </li>
             
              
            </ul>
                    </div>
                </div>
            </div>
        </nav>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </form>
    <div class="theme-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="theme-copyright-text">
                        Copyright &copy; 2021
                        <a href="#">Tripmaza</a>. All rights reserved.
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="theme-copyright-social">
                        <li>
                            <a class="fa fa-facebook" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-google" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-twitter" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-youtube-play" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-instagram" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="Advance_CSS/js/jquery.js"></script>
<script src="Advance_CSS/js/moment.js"></script>
<script src="Advance_CSS/js/bootstrap.js"></script>
<script src="Advance_CSS/js/owl-carousel.js"></script>
<script src="Advance_CSS/js/custom.js"></script>
